body {
  box-sizing: border-box;
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
  padding-top: 100px;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;
  color: #202022;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}